/* fonts */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* variables */
:root {
  --primary-text-color: #000000;
  --secondary-text-color: #283136;

  --basic-white: #FFF;
  --basic-light-grey: #EEE;

  --button-red: #E74246;
  --button-light-red: #FB565A;
  --button-dark-red: #D7373B;
  --button-green: #00BC6C;
  --button-light-green: #00CA74;
  --button-dark-green: #00AA62;
  --button-yellow: #EAB534;
  --button-light-yellow: #EFC849;
  --button-dark-yellow: #E5A722;
  --button-hover-grey: #DFDFDF;
  --button-push-grey: #D5D5D5;
  --button-pages-border: #DBDBDB;

  --modal-grey: #666;
  --range-grey: #ABABAB;
  --filter-grey: #4D4D4D;
  --social-link-grey: #E1E1E1;
  --footer-grey: #444;

  --input-inactive: #D7DCDE;
  --input-hover: #B4B9BB;
  --input-focus: #000000;

  --button-active-text: rgba(255,255,255,.3);
  --button-active-shadow: rgba(0, 1, 1, 0.1);
  --current-item-bg: rgba(0, 0, 0, 0.1);
  --response-shadow: rgba(0, 0, 0, 0.4);
  --catalog-item-hover-shadow: rgba(0, 0, 0, 0.25);
  --cart-active: rgba(0, 0, 0, 0.3);
  --filter-sort-hover: rgba(0, 0, 0, 0.6);

}

/* global */
.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--basic-white);

  min-height: 100%;
}

main {
  min-width: 1200px;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  background-color: var(--basic-light-grey);
}

/* grid */
.page {
  height: 100%;
}


/* button */
.button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--button-light-red);
  border-radius: 3px;
  border: 0;
}

.learn-more-button {
  display: block;
  width: 240px;
  padding-top: 17px;
  padding-bottom :15px;
}

.services-item .button {
  width: 160px;
  padding-top: 17px;
  padding-bottom :15px;
}

.button:hover,
.catalog-item-popup .cost:hover {
  background-color: var(--button-red);
}

.button:active,
.catalog-item-popup .cost:active {
  color: var(--button-active-text);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
  background-color: var(--button-dark-red);
  }

.button-green {
  background-color: var(--button-light-green);
}

.button-green:hover {
  background-color: var(--button-green);
}

.button-green:active {
  background-color: var(--button-dark-green);
}

.button-yellow {
  background-color: var(--button-light-yellow);
}

.button-yellow:hover {
  background-color: var(--button-yellow);
}

.button-yellow:active {
  background-color: var(--button-dark-yellow);
}

.button-catalog-filter {
  width: 100%;
  padding: 17px 0 15px;
  margin-top: 50px;
  background-color: var(--basic-light-grey);
  border: 3px solid var(--basic-light-grey);
  color: var(--primary-text-color);
  text-transform: uppercase;
  outline: 0;
}

.pagination-item a {
  padding: 17px 20px 15px;

  line-height: 18px;
  background-color: var(--basic-light-grey);
  border: 3px solid var(--basic-light-grey);
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: 500;
}

.pagination-item:last-child a {
  padding-left: 78px;
  padding-right: 77px;
}

.button-catalog-filter:hover,
.pagination-item a:hover {
  background-color: var(--button-hover-grey);
}

.button-catalog-filter:active,
.pagination-item a:active {
  opacity: 0.3;
  background-color: var(--button-push-grey);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.pagination-item .pagination-item-current  {
  background: var(--basic-white);
}

.catalog-item-popup .cost {
  padding: 17px 72px 15px;

  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;

  background-color: var(--button-light-red);
  border: 1px solid var(--button-light-red);
  border-radius: 3px;
}

/* navigation */
.main-header {
  background-color: var(--basic-light-grey);
  padding-top: 49px;
}

.main-navigation-wrapper {
  display: flex;
  align-items: center;

  margin-left: 362px;
}

.main-nav {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.main-header-logo {
  position: absolute;
}

.main-header-logo img {
  min-width: 160px;
}

.main-header-logo,
.site-nav-link {
  color: var(--primary-text-color);

}

.site-nav {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 26px 0 0 0;
}

.site-nav-item:not(:last-child) {
  margin-right: 45px;
}

.main-header-logo:hover img {
  opacity: 70%;
}

.cart {
  display: flex;
  align-items: center;
  text-align: right;

  margin: 0;
  margin-left: auto;
  max-width: 150px;
  padding-top: 26px;
  padding-left: 40px;
}

.cart-link {
  text-decoration: none;
  color: inherit;
}

.cart-link::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat;
  position: absolute;
  right: 100px;
  top: 33px;
}

.site-nav-link:hover,
.cart-link:hover {
  color: var(--button-red);
}

.main-header-logo:active,
.site-nav-link:active,{
  color: var(--primary-text-color);
  opacity: 0.3;
}

.cart-link:active {
  color: var(--cart-active);
}

.link-current,
.site-nav-link:target,
.cart-link:target {
  padding-bottom: 18px;
  border-bottom: 2px solid var(--button-light-red);
}

/*index*/
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
  min-height: 100px;
  position: relative;
}

/* slider */
.slider {
  height: 431px;
  background-color: var(--basic-light-grey);
}

.slider-wrapper {
  position: relative;
  height: 431px;
}

.slider-list {
  list-style: none;

  padding: 0;
  margin: 0;
  height: 100%;
}

.slider-item {
  display: none;
  height: 100%;
}

.slide-current {
  display: block;
}

.slide-1 {
  background: transparent url('../img/index-slide-1.png') right/auto 100% no-repeat;
}

.slide-2 {
	background: transparent url('../img/index-slide-2.png') right/auto 100% no-repeat;
}

.slide-3 {
	background: transparent url('../img/index-slide-3.png') right/auto 100% no-repeat;
}

.slide-wrapper {
  height: 100%;
  width: 540px;
}

.primary-slogan {
  padding-top: 73px;
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.primary-slogan-description {
  padding-top: 25px;
	padding-right: 160px;
	line-height: 24px;
	font-weight: 300;
}

.slider-controls {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 88px;
  bottom: 96px;
  left: 536px;
  z-index: 6;
}

.slider-controls .current {
  display: block;
}

.slider-controls-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
}

.slider-controls-button span {
  display: none;

  height: 6px;
  width: 6px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--basic-light-grey);
}

/* services-descripton */
.services-description {
  margin-bottom: 80px;

}

.services-list {
  margin: 0;
  padding: 80px 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--basic-light-grey);
}

.services-descripton h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item:last-child {
  margin-right: 60px;
}

.services-item h2 {
  margin: 25px 0 0;
}

.services-item p {
  color: var(--secondary-text-color);
  margin-top: 16px;
  margin-bottom: 32px;
}

.services-item p:last-child {
  margin-bottom: 31px;
}

/* about-company */
.about-stats-company .container {
  display: flex;
  justify-content: space-between;

  padding: 39px 0 73px;
  border-bottom: 2px solid var(--basic-light-grey);
}

.about-company {
  width: 651px;
}

.stats-company {
  width: 374px;
  margin-left: auto;
}

.about-company,
.stats-company {
  color: var(--secondary-text-color);
}

.stats-heading-item,
.stats-item {
  color: var(--primary-text-color);
}

.secondary-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--primary-text-color);
}

.bold-list-heading {
  margin-top: 40px;
  margin-bottom: 23px;

  font-weight: 700;
  text-transform: uppercase;
}

.about-list {
  padding-left: 32px;
  margin: 0;

  list-style: none;
}

.about-item {
  position: relative;

  margin-bottom: 16px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--button-light-red);
  position: absolute;
  left: -32px;
  top: 12px;
}

.stats-table {
  margin-top: 37px;
  border-collapse: separate;
  border-spacing: 2px;
}

.stats-heading-row th {
  padding-bottom: 31px;
}

.stats-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.stats-item span {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

/* products */
.products-company .container {
  position: relative;

  border-bottom: 2px solid var(--basic-light-grey);
  padding: 45px 0 44px;
}

.products-list {
  list-style: none;
  display: flex;

  padding: 0;
  margin: 0;
}

.products-item {
  position: relative;

  opacity: 0.2;
}

.products-item:first-child {
  margin-left: 32px;
  margin-right: 95px;
}

.products-item:first-child::after {
  position: absolute;
  top: 18px;
  left: 279px;

  content: "";
  background-color: var(--basic-light-grey);
  width: 2px;
  height: 52px;
}

.products-item:nth-child(2) {
  margin-right: 104px;
}

.products-item:nth-child(2)::after {
  position: absolute;
  top: 18px;
  left: 579px;

  content: "";
  background-color: var(--basic-light-grey);
  width: 2px;
  height: 52px;
}

.products-item:nth-child(3) {
  margin-right: 120px;
}


.products-item:nth-child(3)::after {
  position: absolute;
  top: 18px;
  left: 879px;

  content: "";
  background-color: var(--basic-light-grey);
  width: 2px;
  height: 52px;
}

.products-item:hover {
  opacity: 1;
}

.products-item:active {
  opacity: 0.1;
}

/*response-popup*/
.response-popup {
  display: none;

  position: absolute;
  bottom: 50;
  z-index: 3;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--response-shadow);
}

.response-heading {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.response label {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.response-form input[name="response-username"] {
  text-transform: capitalize;
}

.response-form input {
  font: inherit;
  border: 2px solid var(--input-inactive);
}

.response-form input:hover {
  border: 2px solid var(--input-hover);
}

.response-form input:focus {
  border: 2px solid var(--input-focus);
}

.button-response {
  border: 0;
  outline: 0;
}

.response-form input:invalid {
  border: 2px solid var(--button-red);
  color: var(--button-red);
}

/* footer */
.page-footer {
  padding-top: 68px;
}

.footer-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
  min-height: 100px;

  display: flex;
  flex-wrap: wrap;
}

.social-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 139px;

  display: flex;
  flex-wrap: wrap;
}

.social-links-item:not(:last-child) {
  margin-right: 9px;
}

.social-links-button {
  width: 81px;
  height: 81px;
  background: var(--social-link-grey);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  display: block;
}

.social-links-button-vk {
  background-image: url(../img/icons/icon-vk.svg);
}

.social-links-button-fb {
  background-image: url(../img/icons/icon-fb.svg);
}

.social-links-button-insta {
  background-image: url(../img/icons/icon-insta.svg);
}

.social-links-button:hover {
  background-color: var(--button-red);
}

.social-links-button:active {
  background-color: var(--button-dark-red);
  box-shadow: 0px 3px 0px 0px #000101 10 % inset;
}

/* .social-links-button:active {
  opacity: 0.3;
} */

.footer-discount-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.footer-discount p:not(.footer-discount-heading) {
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-grey);

  padding: 0;
  margin: 0;
  }


/* catalog */
.catalog-container {
  display: flex;
  justify-content: space-between;

  max-width: 1160px;
  padding: 0;
  margin: 0 auto;
}

.main-catalog-header {
  margin-bottom: 55px;
}

.catalog-header {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-light-grey);
  text-align: center;
  margin: 0;
  padding: 72px 0 0108px 0;
}

.products-container .container {
  max-width: 760px;
}

.catalog {
  margin-top: 48px;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  margin-bottom: 31px;
  position: relative;
}

.catalog-item:not(:first-child) svg {
  opacity: 0.12;
}

.catalog-item:hover svg {
  opacity: 1;
}

.catalog-item img {
  margin-top: -7px;
}

.catalog-item a:hover {
  filter: drop-shadow(0px 6px var(--catalog-item-hover-shadow));
}

.catalog-item-popup {
  background-color: var(--basic-light-grey);
  text-align: center;

  padding-top: 26px;
  padding-bottom: 44px;
  width: 360px;
  min-height: 231px;
  position:absolute;
  bottom: 0;

  box-sizing: border-box;
}

.catalog-item-popup-heading {
  margin: 0;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.catalog-item-popup-heading:hover {
  color: var(--button-light-red);
}

.catalog-item-popup-heading:active {
  opacity: 0.1;
}

.catalog-item-popup-descripton {
  padding: 0 53px 0 52px;
  margin: 12px 0 32px 0;

  font-size: 16px;
  line-height: 18px;
  color: var(--modal-grey);
}

.catalog-item:not(:first-child) .catalog-item-popup {
  display: none;
}

.catalog-item:hover:not(:first-child) .catalog-item-popup {
  display: block;
}

/* filters */
.filter-heading {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.filter ul,
.filter-sort ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0 0 54px;
  border: 0;
}

.worth-range {
  margin-top: 48px;
  width: 260px;
  height: 80px;

  background-color: var(--basic-light-grey);
  border: 1px solid var(--basic-light-grey);
  border-radius: 3px;
}

.filter-cost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 14px;
}

fieldset:nth-child(2) {
  margin-bottom: 43px;
}

.filter-heading-grid {
  margin-bottom: 13px;
}

.filter-grid {
  margin-bottom:15px;
}

fieldset:last-of-type {
  margin: 0px;
}

.filter-heading-features {
  margin-bottom: 14px;
}

.filter-features:not(:last-child) {
  margin-bottom: 17px;
}



.filter-sort {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 760px;
}

.filter-sort .filter-heading {
  margin-right: 266px;
}

.filter-sort-list {
  display: flex;
  flex-wrap: nowrap;
}

.filter-cost label {
  padding: 0;
  margin: 0;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-cost input {
  width: 80px;
  padding: 8px 5px;
  text-align: center;
  background-color: var(--basic-light-grey);
  border: 2px solid var(--basic-light-grey);
  border-radius: 3px;
}

.filter-option input {
  color: var(--filter-grey);
  opacity: 0.4;
}

.filter-option input:hover {
  opacity: 1;
}

.filter-option input:disabled {
  opacity: 0.1;
}

.filter-option label {
  color: var(--secondary-text-color);
}

.filter-option label:disabled {
  opacity: 0.3;
}

.filter-sort-option:not(:last-of-type) {
  margin-right: 25px;
}

.filter-sort-option a {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
  opacity: 0.3;
}

.filter-sort-option:hover a,{
  opacity: 0.6;
}

.filter-sort-option .filter-sort-current,
.filter-sort-list:active a,{
  color: var(--primary-text-color);
  opacity: 1;
}

.filter-sort-buttons {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
}

.button-down {
  margin-right: 18px;

  display: block;
  width: 11px;
  height: 10px;
  border: 0;

  background: url(../img/icon-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.button-down:hover {
  background: url(../img/icon-down-hover.svg);
}

.button-up {
  display: block;
  width: 11px;
  height: 10px;
  border: 0;

  background: url(../img/icon-up-steady.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.button-up:hover {
  background: url(../img/icon-up-hover.svg);
}

.button-up:active {
  background: url(../img/icon-up.svg);
}

/* catalog-navigation */
.pagination-list {
  display: flex;

  padding: 0;
  margin: 54px 0 0 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 11px;
}

/* map & contacts*/
.location {
  margin-top :60px;
}

.location iframe {
  position: absolute;

  width: 100%;
  height: 416px;
}

.location .container {
  z-index: 2;

  min-height: 308px;
  padding-top: 54px;
}

.location .contacts {
  width: 319px;
  padding: 49px 25px 47px;
  background-color: var(--basic-white);
}

.contacts-heading {
  margin-left: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p:not(.contacts-heading) {
  padding-left: 50px;
  padding-right: 39px;
  margin-top: 23px;
  font-size: 16px;
  line-height: 18px;
}

.contacts-phone {
  color: inherit;
}

.contacts-button {
  padding-top: 17px;
  padding-bottom: 15px;
  margin-top: 37px;
  margin-left: 50px;
  width: 219px;
}

/* vanish */
.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* WARNING: не хочет работать
 :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
} */
