/* fonts */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* variables */
:root {
  --primary-text-color: #000000;
  --secondary-text-color: #283136;

  --basic-white: #FFF;
  --basic-light-grey: #EEE;

  --button-red: #E74246;
  --button-light-red: #FB565A;
  --button-dark-red: #D7373B;
  --button-green: #00BC6C;
  --button-light-green: #00CA74;
  --button-dark-green: #00AA62;
  --button-yellow: #EAB534;
  --button-light-yellow: #EFC849;
  --button-dark-yellow: #E5A722;
  --button-hover-grey: #DFDFDF;
  --button-push-grey: #D5D5D5;
  --button-pages-border: #DBDBDB;

  --modal-grey: #666;
  --range-grey: #ABABAB;
  --filter-grey: #4D4D4D;
  --social-link-grey: #E1E1E1;
  --footer-grey: #444;

  --input-inactive: #D7DCDE;
  --input-hover: #B4B9BB;
  --input-focus: #000000;
}

/* global */
.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  background-color: var(--basic-light-grey);
}

/* grid */
.page {
  height: 100%;
}


/* button */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--button-light-red);
  border-radius: 3px;
}

.button:hover {
  background-color: var(--button-red);
}

.button:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--button-dark-red);
  }

.button-green {
  background-color: var(--button-light-green);
}

.button-green:hover {
  background-color: var(--button-green);
}

.button-green:active {
  background-color: var(--button-dark-green);
}

.button-yellow {
  background-color: var(--button-light-yellow);
}

.button-yellow:hover {
  background-color: var(--button-yellow);
}

.button-yellow:active {
  background-color: var(--button-dark-yellow);
}

.button-catalog-filter,
.pagination-item a {
  color: var(--primary-text-color);
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  border: 0;
  outline: 0;
  border-radius: 3px;
}

.button-catalog-filter:hover,
.pagination-item a:hover {
  background-color: var(--button-hover-grey);
}

.button-catalog-filter:active,
.pagination-item a:active {
  opacity: 0.3;
  background-color: var(--button-push-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--button-pages-border);
  border-radius: 3px;}

/* navigation */
.header-bar {
  background-color: var(--basic-light-grey);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
}

.main-nav {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--primary-text-color);

}

.main-header-logo {
  padding-left: 140px;
}

.main-header-logo,
.site-nav-link {
  color: var(--primary-text-color);

}

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-item{
    display: inline;
}

.main-header-logo:hover {
  opacity: 70%;
}

.cart {
  padding-right: 140px;
}

.cart-link {
  text-decoration: none;
  color: inherit;
}

.site-nav-link:hover,
.cart-link:hover {
  color: var(--button-red);
}

.main-header-logo:active,
.site-nav-link:active,
.cart-link:active {
  color: var(--primary-text-color);
  opacity: 30%;
}

.site-nav-link:target,
.cart-link:target {
  border-bottom: 2px solid var(--button-light-red);
}

/*index*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.catalog-header {
  background-color: var(--basic-light-grey);
  text-align: center;
  margin: 0;
  padding: 0;
}

/* services-header */
.services-heading {
  background-color: var(--basic-light-grey)
}

.services-heading h2 {
  margin-top: 0;
}

.primary-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.services-heading p {
  color: var(--secondary-text-color);
}

/* services-descripton */
.services-description {
  margin-bottom: 80px;

}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.services-descripton h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  color: var(--secondary-text-color);
}

/* about-company */
.about-stats-company {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-company,
.stats-company {
  color: var(--secondary-text-color);
}

.stats-heading-item,
.stats-item {
  color: var(--primary-text-color);
}

.secondary-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--primary-text-color);
}

.bold-list-heading {
  font-weight: 700;
  text-transform: uppercase;
}

.stats-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.stats-item span {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: super;
}

/* products */
.products-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.products-item {
  opacity: 0.2;
}

.products-item:hover {
  opacity: 1;
}

.products-item:active {
  opacity: 0.1;
}

/* contacts */
.contacts-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p:not(.contacts-heading) {
  font-size: 16px;
  line-height: 18px;
}

.contacts-phone {
  color: inherit;
}

/*response-popup*/
.response-popup {
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.response-heading {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.response label {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.response-form input[name="response-username"] {
  text-transform: capitalize;
}

.response-form input {
  font: inherit;
  border: 2px solid var(--input-inactive);
}

.response-form input:hover {
  border: 2px solid var(--input-hover);
}

.response-form input:focus {
  border: 2px solid var(--input-focus);
}

.button-response {
  border: 0;
  outline: 0;
}

.response-form input:invalid {
  border: 2px solid var(--button-red);
  color: var(--button-red);
}

/* footer */
.container-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.social-links-list {
  list-style: none;
  margin: 0;
  padding: 0 20px;

  display: grid;
  grid-template-columns: auto auto auto;
}

.social-links-item {
  margin: 0 20px;
}

.social-links-button {
  width: 81px;
  height: 81px;
  background: var(--social-link-grey);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  display: block;
}

.social-links-button-vk {
  background-image: url(../img/icons/icon-vk.svg);
}

.social-links-button-fb {
  background-image: url(../img/icons/icon-fb.svg);
}

.social-links-button-insta {
  background-image: url(../img/icons/icon-insta.svg);
}

.social-links-button:hover {
  background-color: var(--button-red);
}

.social-links-button:active {
  background-color: var(--button-dark-red);
  box-shadow: 0px 3px 0px 0px #000101 10 % inset;
}

/* .social-links-button:active {
  opacity: 0.3;
} */

.footer-discount-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.footer-discount p:not(.footer-discount-heading) {
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-grey);
}


/* catalog */
.catalog-container {
  display: grid;
  grid-template-columns: auto 2fr;
}

.filter-container {
  margin: 0;
  padding: 0;
  grid-row: 1/-1;
}

.catalog-header {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.catalog-item a:hover {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.catalog-item-popup {
  background-color: var(--basic-light-grey);
}

.catalog-item-popup-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.catalog-item-popup-heading:hover {
  color: var(--button-light-red);
}

.catalog-item-popup-heading:active {
  opacity: 0.1;
}

/* filters */
.filter-heading {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.filter-sort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.filter ul,
.filter-sort ul {
  list-style: none;
}

.filter-cost label {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-cost input {
  width: 80px;
}

.filter-option input {
  color: var(--filter-grey);
  opacity: 0.4;
}

.filter-option input:hover {
  opacity: 1;
}

.filter-option input:disabled {
  opacity: 0.1;
}

.filter-option label {
  color: var(--secondary-text-color);
}

.filter-option label:disabled {
  opacity: 0.3;
}

.filter-sort-option {
  display: inline;
}

.filter-sort-option a {
  color: var(--primary-text-color);
  opacity: 0.3;
}

.filter-sort-option:hover {
  opacity:0.6;
}

.filter-sort-option:focus:active {
  opacity: 1;
}

/* catalog-navigation */
.pagination-list {
  list-style: none;
}

.pagination-item {
  display: inline;
}
